  <div class="row">
    <div class="search container-fluid col-xs-8 col-xs-offset-2 text-center">
      <div class="h3">{{title}}</div>
      <div class="input-group">
        <span class="input-group-btn">
    <input [(ngModel)]="value" type="text" id="ser" class="search-input form-control text-center" placeholder="Search" onfocus="this.placeholder=''" />
    <button type="submit" class="search-btn btn btn-default"><i class="fa fa-search">
      </i>
      </button>
      </span>
      </div>
    </div>
  </div>
