<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"></button>
      <a href="#" class="navbar-brand">CS2</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a routerLink="/projects">Projects</a>
        </li>
      </ul>

      <p class="navbar-text title">{{title}}</p>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" *ngIf="!auth.authenticated()" (click)="login()">Login</a>
          <a href="#" *ngIf="auth.authenticated()" (click)="logout()">Logout</a>
        </li>
      </ul>
      <p class="navbar-text navbar-right" *ngIf="auth.userProfile">{{auth.userName()}}</p>
    </div>
  </div>
</nav>